@model Model.TbLocacao

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TbLocacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataLocacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLocacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TbCliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TbCliente.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TbFilme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TbFilme.Filme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>