@{
    ViewData["Title"] = "Home Page";
}

<li>
    @Html.ActionLink("Cliente", "Index", "Cliente", new { @class = "elements" }, null)
</li>

<li>
    @Html.ActionLink("Filme", "Index", "Filme", new { @class = "elements" }, null)
</li>

<li>
    @Html.ActionLink("Alugar", "Index", "AlugarFilme", new { @class = "elements" }, null)
</li>

<li>
    @Html.ActionLink("Devolver", "Index", "DevolverFilme", new { @class = "elements" }, null)
</li>

<li>
    @Html.ActionLink("Locações", "Index", "Locacao", new { @class = "elements" }, null)
</li>